.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columnLinks{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  
}

.profile h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.profile img{
  border-radius: 100%;
}

@media(max-width: 900px){
  .profile img{
    width: 10rem;
    height: 10rem;
  }
  .profile h1{
    font-size: 1rem;
  }
  .columnLinks{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}